<script src="/static/js/zs.js"></script>
<link rel="stylesheet" href="/static/css/style.css">


<script>
    window.onload = function () {
        const scriptTag = document.createElement("script");
        scriptTag.src = "static/js/global.js";
        const bodyTag = document.getElementsByTagName("body")[0];
        bodyTag.appendChild(scriptTag);
    }
</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFBVH220JX"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-MFBVH220JX');
</script>